@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-text-color: #183b56;
  --secondary-text-color: #577592;
  --accent-color: #2294ed;
  --accent-color-dark: #1d69a3;
  --padding-inline-section: 20px;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--primary-text-color);
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
p {
  font-size: 1.25rem;
  color: var(--secondary-text-color);
  line-height: 1.8rem;
}
a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 var(--padding-inline-section);
}

.top-banner {
  background-image: url(./assets/asset\ 32.png);
  background-color: #4fb3d4;
  background-size: 300px;
}
.banner-text {
  color: white;
  padding: 15px 30px;
  text-align: center;
  font-size: 1rem;
}
