@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* CSS variables */
:root{
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --padding-inline-section: 20px;
}
body {
    font-family: 'Poppins', sans-serif;
    color: var(--primary-text-color);

}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
p{
    font-size: 1.25rem;
    font-family: 'Roboto', sans-serif;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul{
    list-style: none;
}
.container{
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
}
.flex{
    display: flex;
    align-items: center;
}
/* Top Banner  */
.top-banner{
    background-image: url("./assets/asset\ 32.png");
    background-size: 300px;
    background-color: #4fb3d4;;
}
.banner-text{
    color: white;
    text-align: center;
    padding: 15px 30px;
    font-size: 1rem;
    font-weight: 400;
}
.logo img{
    width: 200px;
}
.main-nav{
    margin-top: 20px;
    justify-content: space-between;
}
.hover-links{
    flex-basis: 730px;

}
.hover-links ul{
    justify-content: end;
    gap: 40px;
}
.hover-link{
    color: var(--primary-text-color);
    text-transform: capitalize;
    transition: .2s ease-out;
}
.hover-link:hover{
    color:var(--accent-color)
}